$yellow:#fbbc05;
$navy-blue:#1f4860;
$sky-blue: #D6E9F3;
$white: rgba(249, 249, 249, 1);
$black: #000;
$light-gray: rgb(242, 242, 242);
$dark-gray: rgb(153, 153, 153);

$white-blue-gradient:linear-gradient(180deg, #E5F4FD 0%, #9CC9E2 100%);
$sky-blue-gradient:linear-gradient(270.98deg, #61A9D1 -4.76%, #4285F4 97.99%);
