@font-face {
    font-family: 'Gurmukhi-Regular';
    src: url('/fonts/BalooPaaji2/BalooPaaji2-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gurmukhi-Bold';
    src: url('/fonts/BalooPaaji2/BalooPaaji2-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gurmukhi-SemiBold';
    src: url('/fonts/BalooPaaji2/BalooPaaji2-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gurmukhi-ExtraBold';
    src: url('/fonts/BalooPaaji2/BalooPaaji2-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Heading-Regular';
    src: url('/fonts/Recoleta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Text-Regular';
    src: url('/fonts/Brandon-Regular.ttf') format('truetype');
}