@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Recoleta';
  src: url('../../public/fonts/Recoleta-RegularDEMO.otf');
}

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('../../public/fonts/BalooPaaji2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../../public/fonts/Brandon_Grotesque_regular.otf');
}

html,body,#root{
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 229, 244, 253;
  --background-end-rgb: 156, 201, 226;
}

* {
  font-family: 'Recoleta';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  .background-layer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../public/images/background.png');
    opacity: 0.3;
    mix-blend-mode: multiply;
  }

  .word-container {
    position: relative;
  }
  
  .content-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  
  .word-brick-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 0.5rem;
    align-content: end;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  .word-fall-animation {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: span 1;
    grid-row: span 1;
    animation-fill-mode: forwards;
    animation: wordFall 0.5s ease-in-out;
  }

  @keyframes wordFall {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .nanakback{
    background-image: url('../../public/images/coinback.png');
  }

  .cardImage{
    background-image: url('../../public/images/card.png');
  }

  .winbadge{
    background-image: url('../../public/images/winShape.png');
    height:25vh;
  }

  .brandon-grotesque {
    font-family: 'Brandon Grotesque' !important;
    * {
      font-family: 'Brandon Grotesque' !important;
    }
  }

  .gurmukhi {
    font-family: 'Baloo Paaji 2' !important;
    * {
      font-family: 'Baloo Paaji 2' !important;
    }
  }

  .card-bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/images/card.png');
    mix-blend-mode: screen;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  .card-bg {
    position: relative;
  }

  .recoleta {
    font-family: 'Recoleta';
    * {
      font-family: 'Recoleta';
    }
  }

  form {
    input {
      font-family: 'Brandon Grotesque';
    }
    font-family: 'Brandon Grotesque';
  }

  .dark-blue {
    * {
      color: #1F4860;
    }
  }

  .dull-blue {
    * {
      color: #255C7A;
    }
  }

  .mustard {
    color: #FBBC05;
  }

  .grey {
    color: #999999
  }

  .black {
    color: #333333;
  }
  
  .logo-bg {
    background-color: #1F4860;
    border: 2px solid #FFF;
    min-height: 3rem;
    min-width: 3rem;
    margin-right: 0.5rem;
  }

  .fs-125 {
    font-size: 1.125rem;
  }
  
  .fs-rem-2 {
    font-size: 2rem;
  }

  header {
    .title {
      font-size: 1.5rem;
      font-family: 'Recoleta' !important;
      color: #1F4860;
    }
  }
  
  #sortbox:checked ~ #sortboxmenu {
    opacity: 1;
  }

  .fade-to-complete {
    animation: fadeIn 0.5s ease-in-out;
  }

  .loader {
    width: 15px;
    display: inline-block;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#1F4860 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: loading 1s steps(4) infinite;
  }

  @keyframes loading {to{clip-path: inset(0 -34% 0 0)}}

  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  /* Define a keyframe animation */
  @keyframes shake {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: rotate(-5deg);
    }
    20%, 40%, 60%, 80% {
      transform: rotate(5deg);
    }
  }

  
  .jump-box {
    position: relative;
    animation: shake 2s infinite ease-in-out;
  }

  .level {
    &-completed {
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 4px 15px #fbbd05);
      }
    }
    
    &-current {
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 4px 15px #0567fbe6);
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
      background-image: url('../../public/images/card.png');
    }
    100% {
      opacity: 1;
      background-image: url('../../public/images/card.png'); }
  }
  
}
