@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 229, 244, 253;
  --background-end-rgb: 156, 201, 226;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Recoleta';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  .background-layer {
    // position: relative;
  }

  .background-layer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/images/background.png');
    opacity: 0.3;
    z-index: -1;
    mix-blend-mode: multiply;
  }

  .gurmukhi {
    font-family: 'Baloo Paaji 2';
    * {
      font-family: 'Baloo Paaji 2';
    }
  }

  .brandon-grotesque {
    font-family: 'HvDTrial Brandon Grotesque' !important;
    * {
      font-family: 'HvDTrial Brandon Grotesque' !important;
    }
  }

  .recoleta {
    font-family: 'Recoleta';
    * {
      font-family: 'Recoleta';
    }
  }

  form {
    input {
      font-family: 'HvDTrial Brandon Grotesque';
    }
    font-family: 'HvDTrial Brandon Grotesque';
  }

  .dark-blue {
    * {
      color: #1F4860;
    }
  }

  .dull-blue {
    * {
      color: #255C7A;
    }
  }

  .mustard {
    color: #FBBC05;
  }

  .grey {
    color: #999999
  }

  .black {
    color: #333333;
  }
  
  .logo-bg {
    background-color: #1F4860;
    border: 2px solid #FFF;
    min-height: 3rem;
    min-width: 3rem;
    margin-right: 0.5rem;
  }

  .fs-125 {
    font-size: 1.125rem;
  }
  
  .fs-rem-2 {
    font-size: 2rem;
  }

  header {
    .title {
      font-size: 1.5rem;
      color: #1F4860;
    }
  }
  
  #sortbox:checked ~ #sortboxmenu {
    opacity: 1;
  }

  .fade-to-complete {
    animation: fadeIn 0.5s ease-in-out;
  }

  .level {
    &-completed {
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 4px 15px #fbbd05);
      }
    }
    
    &-current {
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 4px 15px #0567fbe6);
      }
    }
  }

  // @keyframes fadeIn {
  //   0% {
  //     opacity: 1;
  //     background-image: // some image 1 url;
  //   }
  //   100% {
  //     opacity: 1;
  //     background-image: // some image 2 url; }
  // }
  
}

